@mixin trouble($t: null, $r: null, $b: null, $l: null, $pos: absolute) {
  position: $pos;
  top: $t;
  right: $r;
  bottom: $b;
  left: $l;
}

@mixin borderColors($t, $r, $l, $b) {
  border-top-color: $t;
  border-right-color: $r;
  border-bottom-color: $l;
  border-left-color: $b;
}

@mixin cardItem($primary, $secondary) {
  .button {
    background-color: $primary;
  }
  h2 {
    background-color: $primary;

    &:after {
      @include borderColors($primary, $primary, transparent, transparent);
    }

    &:before {
      @include borderColors(transparent, $secondary, $secondary, transparent);
    }
  }

  &.cardActive {
    h2 {
      &:before {
        @include borderColors(transparent, $primary, $primary, transparent);
      }

      &:after {
        @include borderColors($secondary, $secondary, transparent, transparent);
      }
    }
  }

  .cardBtnAction {
    background-color: $primary;

    &:hover {
      background-color: $secondary;
    }
  }

  .cardFooter {
    h4 {
      color: $secondary;
    }

    a {
      background-color: $secondary;
    }
  }

  &.cardActive {
    .cardContent {
      background-color: #eaeaea;
    }
    .cardFooter {
      background-color: $primary;
    }
    .cardBtnAction {
      border-color: #eaeaea;
    }
  }
}
