.button {
  @apply cursor-pointer relative align-middle leading-normal items-center
    appearance-none rounded text-center whitespace-no-wrap text-base h-9 inline-flex bg-white;

  justify-content: center;
  padding: calc(0.375em - 1px) 0.75em;
  color: #363636;
  border: 1px solid transparent;
  border-color: #dbdbdb;
  border-width: 1px;
}
