.dynamicMarkdown {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'liga' on;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0;

  figcaption {
    -webkit-nbsp-mode: normal;
  }

  h3 {
    margin-top: 53px;
    font-size: 34px;
    font-weight: 600;
    line-height: 1.15;
    letter-spacing: 0.02em;

    @media (max-width: 767px) {
      margin-top: 45px;
      font-size: 30px;
    }
  }

  h3 + p {
    margin-top: 8px;
  }

  h4 {
    margin-top: 30px;
    font-size: 26px;
    font-weight: 600;
    line-height: 1.22;
    letter-spacing: 0.02em;

    @media (max-width: 767px) {
      margin-top: 22px;
      font-size: 24px;
    }
  }

  h4 + p {
    margin-top: 6px;
  }

  p + p {
    margin-top: 29px;

    @media (max-width: 767px) {
      margin-top: 21px;
    }
  }

  p {
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -0.003em;
  }

  p + ul {
    @apply .list-reset;

    margin-top: 29px;

    @media (max-width: 767px) {
      margin-top: 21px;
    }
  }

  li {
    margin-bottom: 14px;
    margin-left: 30px;
    font-size: 21px;
    line-height: 1.58;

    &::before {
      position: absolute;
      display: inline-block;
      width: 78px;
      padding-right: 15px;
      margin-top: -17px;
      margin-left: -78px;
      font-size: 40px;
      text-align: right;
      content: '\2022';

      @media (max-width: 767px) {
        margin-top: -21px;
      }
    }
  }

  @media (max-width: 767px) {
    p,
    li {
      font-size: 18px;
    }
  }
}
