@import 'designs/mixins/media';
@import 'designs/mixins/cards';

$light: #eaeaea;
$dark: #1d1d1d;

$carriage: #df5343;
$arctic: #636e74;
$magloft: #0f6dae;
$ponds: #46a98e;
$gdg: #00796b;
$nujeks: #ef5930;
$memotus: #e23627;
$soundrenaline: #ea202d;

$portoList: (
  carriage: $carriage,
  arctic: $arctic,
  magloft: $magloft,
  ponds: $ponds,
  gdg: $gdg,
  nujeks: $nujeks,
  memotus: $memotus,
  soundrenaline: $soundrenaline,
);

.fa-spin-fast {
  animation: fa-spin-fast 0.2s infinite linear;
}

.button {
  margin-top: auto;
  margin-bottom: auto;
  color: $light;
  border: none;
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.4);

  span.iconLink {
    margin-left: 15px !important;
  }

  svg {
    width: 80%;
  }

  @include media-max(767px) {
    margin: 30px 0;
  }
}

@keyframes fa-spin-fast {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.portoCardColumn {
  max-height: 500px;
  .portoCard {
    position: relative;
    height: 0;
    padding-bottom: calc(100% - 16px);
    margin-bottom: 6.6em;
    transition: all 0.3s;

    @each $key, $val in $portoList {
      &.#{$key} {
        @include cardItem($val, darken($val, 10%));
      }
    }

    .titleBox {
      z-index: 10;
      width: 100%;
      padding: 10px 16px;
      margin: 0;
      font-size: 1.4rem;
      line-height: 1.6em;
      color: $light;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.95);
      transition: all 0.3s;

      @include trouble(calc(100% - 16px), null, null, 0);

      span {
        display: block;
        font-size: 1.1rem;
      }

      &::before,
      &::after {
        width: 0;
        content: ' ';
        border: 8px solid;
        transition: all 0.3s;

        @include trouble(-16px, null, null, 0);
      }

      &::after {
        top: auto;
        bottom: 0;
      }
    }

    &.cardActive {
      padding-bottom: 390px;

      @include media-eq(768px) {
        padding-bottom: 300px;
      }

      @include media-max(767px) {
        height: auto;
        padding-bottom: 0;
      }

      .titleBox {
        top: 0;
        display: flex;
        align-items: center;
        height: 90px;
        padding: 10px 16px 10px 90px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        span {
          display: none;
        }

        &::before {
          top: 0;
        }
        &::after {
          bottom: -16px;
        }
      }
    }

    .cardContent {
      @include trouble(0, 0, 16px, 16px);

      transition: all 0.3s;
    }

    .cardBtnAction {
      z-index: 20;
      display: flex;
      justify-content: center;
      width: 54px;
      height: 54px;
      line-height: 44px;
      color: #fff;
      text-align: center;
      cursor: pointer;
      border: 5px solid;
      border-radius: 50%;
      box-shadow: 0 0 7px rgba(0, 0, 0, 0.95);
      transition: all 0.3s;

      @include trouble(15px, 16px);

      svg {
        width: 65%;
      }
    }

    &.cardActive .cardBtnAction {
      top: 62px;
      box-shadow: none;
    }

    .cardDescription {
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
      filter: alpha(opacity=0);
      opacity: 0;
      transition: all 1.2s;

      @include trouble(100%, 30px, 54px, 30px);

      .longDesc {
        width: 100%;
      }
    }

    .cardFooter {
      height: 0;
      overflow: hidden;
      transition: top 0.3s;

      h4 {
        @include trouble(200px, null, null, 30px);

        padding: 0;
        margin: 0;
        font-size: 16px;
        font-weight: 700;
        opacity: 0;
        transition: all 1.4s;
      }

      .techStack {
        position: relative;
        top: 200px;
        display: inline-block;
        width: 52px;
        height: 52px;
        margin-bottom: 15px;
        margin-left: 15px;
        font-size: 28px;
        line-height: 52px;
        text-decoration: none;
        opacity: 0;

        svg {
          width: 100%;
          height: 100%;
        }

        &:nth-child(1) {
          transition: all 0.5s;
        }
        &:nth-child(2) {
          transition: all 0.6s;
        }
        &:nth-child(3) {
          transition: all 0.7s;
        }
        &:nth-child(4) {
          transition: all 0.8s;
        }
        &:nth-child(5) {
          transition: all 0.9s;
        }
      }
    }
    .img-container {
      z-index: 3;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      box-shadow: 1px -2px 5px rgba(0, 0, 0, 0.95);
      transition: all 0.3s;

      @include trouble(0, null, null, 0);

      img {
        width: 100%;
      }
    }

    &.cardActive {
      .img-container {
        top: 12px;
        left: 0;
        z-index: 20;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.95);
      }
      .cardContent {
        padding-top: 5.6em;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.95);

        @media screen and (max-width: 767px) {
          position: relative;
          margin-right: 16px;
        }
      }
      .cardDescription {
        top: 50px;
        padding-top: 5.6em;
        color: #1d1d1d;
        filter: alpha(opacity=100);
        opacity: 1;

        @include media-max(767px) {
          @include trouble(auto, auto, 0, auto, relative);

          padding: 50px 30px 70px 30px;
        }
      }
      .cardFooter {
        height: 82px;
        padding-top: 15px;
        padding-left: 25px;
        overflow: visible;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.95);

        @include trouble(calc(100% - 16px), 0, null, 16px);
        .techStack {
          top: 0;
          opacity: 1;
        }
        h4 {
          top: -32px;
          opacity: 1;
        }
      }
    }
  }
}
